.btn {
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #fff;
  background: #070706;
  border-radius: 6px;
  transition: 0.3s ease;
  text-transform: uppercase;
  &:hover {
    background: #fff;
    color: #070706;
    border: 1px solid #070706;
  }
}
