/* syne-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/syne-v22-latin-regular.woff2') format('woff2');
  }
  /* syne-500 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Syne';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/syne-v22-latin-500.woff2') format('woff2');
  }
  /* syne-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/syne-v22-latin-700.woff2') format('woff2');
  }